name: Package Helm Chart

on:
  pull_request:
    branches:
      - main  # Trigger on PR creation or updates to main branch

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      CHART_PATH: "charts/karpenter-nodes/"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: latest

      - name: Update Helm Dependencies
        run: |
          cd ${{ env.CHART_PATH }}
          helm dependency update

      - name: Lint Helm Chart
        run: |

          cd ${{ env.CHART_PATH }}
          helm lint .

      - name: Run Helm Tests (only if tests are present)
        run: |
          cd ${{ env.CHART_PATH }}
          if [ -d "tests" ] && [ "$(ls -A tests)" ]; then
            echo "Tests found. Running Helm tests..."
            helm test .
          else
            echo "No tests found. Skipping Helm tests."
          fi


      # - name: Check Backward Compatibility
      #   id: backward-compatibility
      #   run: |
      #     cd ${{ env.CHART_PATH }}

      #     # Fetch the previous version of the chart from JFrog Artifactory
      #     PREVIOUS_VERSION=$(helm show chart . | grep '^version:' | awk '{print $2}' | awk -F. '{print $1"."$2"."$3-1}')
      #     CHART_NAME=$(grep '^name:' Chart.yaml | awk '{print $2}')
      #     jf rt dl "helm-local/$CHART_NAME-$PREVIOUS_VERSION.tgz" --flat

      #     if [[ -f "my-chart-$PREVIOUS_VERSION.tgz" ]]; then
      #       echo "Previous version ($PREVIOUS_VERSION) found. Checking for backward compatibility..."

      #       # Render templates for the new and previous versions
      #       helm template . > new-version.yaml
      #       helm template $CHART_NAME-$PREVIOUS_VERSION.tgz > previous-version.yaml

      #       # Compare the rendered templates
      #       if ! diff -u previous-version.yaml new-version.yaml; then
      #         echo "❌ Backward-incompatible changes detected!"
      #         exit 1
      #       else
      #         echo "✅ No backward-incompatible changes detected."
      #       fi
      #     else
      #       echo "No previous version found. Skipping backward compatibility check."
      #     fi

      - name: Install Helm Docs
        run: |
          curl -sSLo helm-docs.tar.gz https://github.com/norwoodj/helm-docs/releases/download/v1.14.2/helm-docs_1.14.2_Linux_x86_64.tar.gz
          tar -xzf helm-docs.tar.gz
          chmod +x helm-docs
          mv helm-docs /usr/local/bin/
          helm-docs ${{ env.CHART_PATH }}

      - name: Set Environment Variables from Chart.yaml
        run: |
          cd ${{ env.CHART_PATH }}
          echo "CHART_NAME=$(grep '^name:' Chart.yaml | awk '{print $2}')" >> $GITHUB_ENV
          echo "CHART_VERSION=$(grep '^version:' Chart.yaml | awk '{print $2}')" >> $GITHUB_ENV

      - name: Increament chart version if user forgot
        run: |
          # Ensure we have the main branch history
          git fetch origin main --depth=1  
          PREVIOUS_VERSION=$(git show origin/main:./${{ env.CHART_PATH }}Chart.yaml | grep '^version:' | awk '{print $2}')
          echo "Previous Chart Version: $PREVIOUS_VERSION"
          if [[ "$PREVIOUS_VERSION" != "$CHART_VERSION" ]]; then
            echo "Chart version has changed!"
          else
            # Split the version into major, minor, and patch components
            IFS='.' read -r -a VERSION_PARTS <<< "$CHART_VERSION"
            
            # Increment the patch version
            PATCH_VERSION=${VERSION_PARTS[2]}
            ((PATCH_VERSION++))

            # Construct the new version
            CHART_VERSION="${VERSION_PARTS[0]}.${VERSION_PARTS[1]}.$PATCH_VERSION"
            sed -i "s/^version: .*/version: $CHART_VERSION/" ${{ env.CHART_PATH }}Chart.yaml
            echo "Updated Chart Version in Chart.yaml"
            echo "CHART_VERSION=$CHART_VERSION" >> $GITHUB_ENV
            echo "VERSION_INCREMENTED=true" >> $GITHUB_ENV  # Set flag if version was incremented
          fi

      - name: Commit updated Chart.yaml
        if: env.VERSION_INCREMENTED == 'true'
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git fetch origin 
          git checkout $GITHUB_HEAD_REF  # Checkout the PR branch
          git add ${{ env.CHART_PATH }}Chart.yaml
          git commit -m "Auto incremented chart version"
          git push

      - name: Package Helm Chart
        run: |
          cd ${{ env.CHART_PATH }}
          helm package . --app-version ${CHART_VERSION}
          ls -la

      - name: Run Trivy vulnerability scanner in IaC mode
        id: trivy
        continue-on-error: true  
        uses: aquasecurity/trivy-action@915b19bbe73b92a6cf82a1bc12b087c9a19a5fe2
        with:
          scan-type: 'config'
          scan-ref: '${{ env.CHART_PATH }}${{ env.CHART_NAME }}-${{ env.CHART_VERSION }}.tgz'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
          output: '${{ github.workspace }}/trivy-results.txt'  # Save it in workspace

      - name: Debug Trivy Output
        run: ls -lah ${{ github.workspace }}

      # - name: Run Trivy vulnerability scanner in IaC mode
      #   id: trivy
      #   uses: aquasecurity/trivy-action@915b19bbe73b92a6cf82a1bc12b087c9a19a5fe2 # v0.28.0
      #   with:
      #     scan-type: 'config'
      #     scan-ref: '${{ env.CHART_PATH }}${{ env.CHART_NAME }}-${{ env.CHART_VERSION }}.tgz'  # Scan the packaged chart
      #     format: 'table'
      #     exit-code: '1'
      #     ignore-unfixed: true
      #     severity: 'CRITICAL,HIGH'
      #     output: 'trivy-results.txt'
      #   env:
      #     TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db
      #     TRIVY_DISABLE_VEX_NOTICE: true



      # - name: Set up JFrog CLI
      #   uses: jfrog/setup-jfrog-cli@f748a0599171a192a2668afee8d0497f7c1069df # v4.5.6

      # - name: Configure JFrog CLI
      #   env:
      #     ARTIFACTORY_API_TOKEN: ${{ secrets.artifactory_api_token }}
      #     JFROG_URL: ${{ env.jfrog_url }}
      #   run: |

      #     echo "${ARTIFACTORY_API_TOKEN}" | jf config add test \
      #       --url="${JFROG_URL}" \
      #       --interactive=false \
      #       --access-token-stdin

      # - name: Publish Helm Chart to JFrog if not Already Exists in JFrog
      #   run: |
      #     cd ${{ env.CHART_PATH }}
      #     CHART_VERSION=$(grep '^version:' Chart.yaml | awk '{print $2}')
      #     CHART_NAME=$(grep 'name:' Chart.yaml | awk '{print $2}')
      #     if jf rt s "helm-local/${CHART_NAME}-${CHART_VERSION}.tgz" | grep -q "${CHART_NAME}-${CHART_VERSION}.tgz"; then
      #       echo "❌ Helm chart ${CHART_NAME} version ${CHART_VERSION} already exists in JFrog. Please update the version before pushing."
      #       exit 1
      #     else
      #       echo "✅ Helm chart version ${CHART_VERSION} is not found in JFrog. Proceeding with upload..."
      #       jf rt u "*.tgz" "helm-local/"
      #     fi

      - name: Summary
        if: always()
        shell: bash
        run: |
          echo "### Publish Status" >> $GITHUB_STEP_SUMMARY
          if [[ "${{ job.status }}" == "success" ]]; then
            echo "✅ Helm chart published successfully" >> $GITHUB_STEP_SUMMARY
          else
            echo "❌ Helm chart publishing failed" >> $GITHUB_STEP_SUMMARY
          fi

          echo "### Trivy Scan Output" >> $GITHUB_STEP_SUMMARY
          if [[ -s '${{ github.workspace }}/trivy-results.txt' ]]; then
            echo "<details><summary>Click to expand</summary>" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
            cat '${{ github.workspace }}/trivy-results.txt' >> $GITHUB_STEP_SUMMARY  # Directly append file content
            echo '```' >> $GITHUB_STEP_SUMMARY
            echo "</details>" >> $GITHUB_STEP_SUMMARY
          else
            echo "✅ No vulnerabilities found." >> $GITHUB_STEP_SUMMARY
          fi

          # Debugging: Print Summary Content
          cat $GITHUB_STEP_SUMMARY


      # - name: Summary
      #   if: always()
      #   run: |
      #     echo "### Publish Status" >> $GITHUB_STEP_SUMMARY
      #     if [ "${{ job.status }}" == "success" ]; then
      #       echo "✅ Helm chart published successfully" >> $GITHUB_STEP_SUMMARY
      #     else
      #       echo "❌ Helm chart publishing failed" >> $GITHUB_STEP_SUMMARY
      #     fi

      #     echo "### Trivy Scan Output" >> $GITHUB_STEP_SUMMARY
      #     if [[ -f "${{ github.workspace }}/trivy-results.txt" ]]; then
      #       echo "<details><summary>Click to expand</summary>" >> $GITHUB_STEP_SUMMARY
      #       echo "" >> $GITHUB_STEP_SUMMARY
      #       while IFS= read -r line; do
      #         if [[ $line == "┌"* ]]; then echo '```' >> $GITHUB_STEP_SUMMARY; fi
      #         echo "$line" >> $GITHUB_STEP_SUMMARY
      #         if [[ $line == *"┘" ]]; then echo '```' >> $GITHUB_STEP_SUMMARY; fi
      #       done < "${{ github.workspace }}/trivy-results.txt"
      #       echo "</details>" >> $GITHUB_STEP_SUMMARY
      #     else
      #       echo "No Trivy report found." >> $GITHUB_STEP_SUMMARY
      #     fi