name: Docker Image Promotion

on:
  workflow_dispatch:
    inputs:
      jfrog_url:
        description: 'URL of Artifactory server'
        type: string
        default: 'https://nethermind.jfrog.io'
      CHART_PATH:
        description: 'Chart path'
        type: string
        required: true
        default: "chart/karpenter-node/"
      CHART_FILENAME:
        description: "Name of chart.yaml file"
        type: string
        default: "Chart.yaml"

permissions:
  id-token: write
  attestations: write
  contents: read

jobs:
  promote:
    uses: manjeet-nt/workflow-test/.github/workflows/helm-chart-packaging.yaml@main
    with:
      # Required inputs
      jfrog_url: ${{ inputs.jfrog_url }}    
      CHART_PATH: ${{ inputs.CHART_PATH }}              
      CHART_FILENAME: ${{ inputs.CHART_FILENAME }} 

    # Required secrets
    # secrets:
    #   ARTIFACTORY_API_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}     # JFrog access token
