name: Github app token testing

on:
  workflow_dispatch:
    inputs:
      jfrog_url:
        description: 'URL of Artifactory server'
        type: string
        default: 'https://nethermind.jfrog.io'
      CHART_PATH:
        description: 'Chart path'
        type: string
        required: true
        default: "chart/karpenter-node/"
      CHART_FILENAME:
        description: "Name of chart.yaml file"
        type: string
        default: "Chart.yaml"

permissions:
  id-token: write
  attestations: write
  contents: write  
  pull-requests: write  

jobs:
  saas_github:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - name: Generate GitHub App token
        id: app-token
        uses: navikt/github-app-token-generator@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Echo JWT
        run: |
          echo "JWT Token: ${{ steps.app-token.outputs.jwt }}"

      - name: Echo Installation Access Token
        run: |
          echo "Installation Token: ${{ steps.app-token.outputs.token }}"